
  
     
           
              
                <form id="login-form" method="post" action="/login">
                    <div class="form-group">
                   <div >    <label for="form">Username</label>
                        <input type="text"  name="username" placeholder="Enter the username">
                        </div> 
                       <div >
                        <label for="form">Password</label>
                        <input type="password" name="password" placeholder="Enter the password">
                       </div>
                        <div >
                            <button type="submit" class="button">Login</button>
                        </div>
                  
                    </div>
                </form>
          <div>
      {{message}}
   </div>  
