<main>
  <h1>{{title}}</h1>
  <p>
    This App allows you to find information regarding show by their name or id
  </p>
  <form action="/search" method="POST">
    <label for="showName">
      Name: <br>
      <input type="text" name="name" id="showName" placeholder="showName">
      <br> <br>
    </label>
    <input type="submit" value="Submit">
  </form>
</main>